.resultsContainer{
    background-color: rgba(255, 255, 255, 0.70);
    height: 55vh;
    min-height: 450px;
    width: 20vw;
    min-width: 350px;
    border-radius: 20px;
    
    padding-right: 2px;
}


.resultsHeader{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tracklist{
    margin-bottom: 20px;
}


@media only screen and (max-width: 480px) {
    .resultsContainer{
        min-width: 48vw;
    }

    .resultsHeader{
        font-size: 16px;
    }
}