::-webkit-scrollbar{
    width: .25em;
}

::-webkit-scrollbar-track{
    background: none;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb{
    background: none;
    border-radius: 100vw;
    
}



.tracklist {
    height: 40vh;
    overflow-y: scroll;
    padding-right: 5px;
    
}

.tracklist:hover{
    &::-webkit-scrollbar-thumb{
        background: #292929;
    }
}